[submodule "vendored/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "vendored/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendored/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendored/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "vendored/angles"]
	path = lib/angles
	url = https://github.com/tadashibashi/angles
[submodule "lib/SDL_GameControllerDB"]
	path = lib/SDL_GameControllerDB
	url = https://github.com/mdqinc/SDL_GameControllerDB.git
[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/mojoAL"]
	path = lib/mojoAL
	url = https://github.com/icculus/mojoAL
